input {
  padding: 10px;
  border-radius: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
}

#upload {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}


.containerin{
  margin: 10%;
  width:26%;
  max-width: 600px;
  padding:10px;
  box-shadow:0px 0px 20px #00000010;
  background-color: whitesmoke;
  border-radius: 0px;
  
}

.containerreg{
  width: 45%;
  margin: 5%;
  padding: 40px;
  box-shadow:0px 0px 20px #00000010;
  background-color: whitesmoke;
  border-radius: 0px;
  margin-bottom: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#headerSection {
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 27px;
}

#loginSection {
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  
body {
  width: 100%;
  height: 100vh;
}



#reglink {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#mainSection {
  padding: 10px;
}

#profileSection {
  margin-top: 3%;
  width: 30%;
  float: left;
  background-color: white;
  padding: 50px;
}

#groupSection {
  margin-top: 3%;
  width: 60%;
  float: right;
  background-color: white;
  padding: 20px;
}

#logout-button {
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  padding: 5px;
  font-size: 17px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#error {
  color: red;
  font-size: 16px;
  font-weight: 800;
  font-family: verdana, sans-serif;
 }
 #errorage {
  color: red;
  font-size: 16px;
  font-weight: 800;
  font-family: verdana, sans-serif;
 }

 